@import "tailwindcss";

@theme {
  --breakpoint-mobile: 600px; /* small */
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1920px;

  --breakpoint-chart: 1500px;


  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-response: var(--surface-response);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-secondary-response: var(--surface-secondary-response);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);

  --color-accent: var(--accent);
  --color-warning: var(--warning);

  --font-family-primary: var(--font-primary);

  --text-xs: 12px;
  /* --text-sm: 14px; */
  --text-base: 16px;
  /* --text-lg: 18px; */
  --text-xl: 20px;
  --text-2xl: 24px;

  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-base: 16px;
  --gap-lg: 32px;

  /* 80px header 16px gap on top and bottom*/
  --height-include-top: calc(100dvh - var(--height-header) - var(--gap-base) * 2);


  --opacity-icon: var(--icon-opacity);


  --gradient-primary: var(--gradient-primary-color);
  --gradient-secondary: var(--gradient-secondary-color);
}

@layer base {
  :root {
    /* Light theme (default) */
    --background: #FFFFFF;
    --surface: #C5C5C5;
    --surface-response: #A5A5A5;
    --surface-secondary: #C5C5C5;
    --surface-secondary-response: #1E1E1E;

    --text-primary:  #5A5A5A;
    --text-secondary: #000000;
    --text-tertiary: #1E1E1E;

    --accent: #10B981;
    --warning: #F59E0B;


    /* Gradient */
    --gradient-primary-color: linear-gradient(
      to right,
      var(--gradient-primary-first) 10%,
      var(--gradient-primary-second) 100%
    );

    --gradient-secondary-color: linear-gradient(
      315deg,
      var(--gradient-secondary-first) 10%,
      var(--gradient-secondary-second) 100%
    );

    --gradient-primary-first: #92FE9D;
    --gradient-primary-second: #00C9FF;

    --gradient-secondary-first: #00000020;
    --gradient-secondary-second: #00000040;


    /* Other */
    --icon-opacity: 50%;
    --font-primary: 'Archivo', sans-serif;

    /* Height and Width */
    --height-header: 80px;

    --width-aside-small: 75px;
    --width-aside-tablet: 100px;
    --width-aside-laptop: 150px;
    --width-asider-desktop: 250px;
  }

  .dark-theme {
    /* Dark theme */
    --background: #111219;
    --surface: #323232;
    --surface-response: #5D5D5D;
    --surface-secondary: #1E1E1E;
    --surface-secondary-response: #505050;


    /*--surface: #29292C;*/
    --text-primary: #898989;
    --text-secondary: #000000;
    --text-tertiary: #D1D1D1;
    --accent: #10B981;
    --warning: #F59E0B;
    --icon-opacity: 10%;

    --gradient-secondary-first: #00000020;
    --gradient-secondary-second: #00000090;
  }

  
  /* Archivo Regular */
  @font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.woff2') format('woff2'),
         url('../fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Archivo Medium */
  @font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Medium.woff2') format('woff2'),
         url('../fonts/Archivo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Archivo Bold */
  @font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Bold.woff2') format('woff2'),
         url('../fonts/Archivo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  

  html, body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-primary);
    font-weight: 500;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-primary);
    /*height: 2000px;*/
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :focus {
    outline: 2px solid var(--gradient-primary-first);
    outline-offset: 2px;
  }

  button {
    cursor: pointer;
  }

  button,
  input,
  select {
    transition: background-color 0.2s ease-in-out;
  }
  /*button:hover {*/
  /*  background-color: var(--surface-hover);*/
  /*}*/
}

@layer components {
  .gradient-primary {
    background-image: var(--gradient-primary);
  }

  .gradient-secondary {
    background-image: var(--gradient-secondary);
  }

  .gradient-hover {
    position: relative;
    overflow: hidden;
  }

  .gradient-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--gradient-primary);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: -1;
    border-radius: 8px;
  }

  .gradient-hover:hover::before {
    opacity: 1;
  }


  .active {
    color: var(--text-secondary);
    background-image: var(--gradient-primary);
  }

  .active-icon {
    filter: brightness(0%);
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

