@import "tailwindcss";

@theme {
  --breakpoint-mobile: 600px; /* small */
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1920px;

  --breakpoint-chart: 1400px;


  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-response: var(--surface-response);
  --color-surface-secondary: var(--surface-secondary);
  --color-surface-secondary-response: var(--surface-secondary-response);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-error: var(--text-error);

  --color-chart-income-surface: var(--chart-income-surface);
  --color-chart-income-border: var(--chart-income-border);
  --color-chart-expense-surface: var(--chart-expense-surface);
  --color-chart-expense-border: var(--chart-expense-border);
  --color-chart-savings-surface: var(--chart-savings-surface);
  --color-chart-savings-border: var(--chart-savings-border);

  --font-family-primary: var(--font-primary);

  --text-xs: 12px;
  /* --text-sm: 14px; */
  --text-base: 16px;
  /* --text-lg: 18px; */
  --text-xl: 20px;
  --text-2xl: 24px;

  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-base: 16px;
  --gap-lg: 32px;

  /* 80px header 16px gap on top and bottom*/
  --height-include-top: calc(100dvh - var(--height-header) - var(--gap-base) * 2);
  --height-screen-pad: calc(100dvh - var(--gap-base) * 2);
  --height-button: var(--button-min-height);
  --height-button-container: var(--button-container-height);

  --opacity-icon: var(--icon-opacity);


  --gradient-primary: var(--gradient-primary-color);
  --gradient-secondary: var(--gradient-secondary-color);
}

@layer base {
  :root {
    /* Light theme (default) */
    --background: #FFFFFF;
    --surface: #C3C3C3;
    --surface-response: #AFAFAF;
    --surface-secondary: #B0B0B0;
    --surface-secondary-response: #D6D6D6;

    --scrollbar-track: #BFBFBF;
    --scrollbar-thumb: #9E9E9E;
    --scrollbar-thumb-border: #BDBDBD;

    --text-primary:  #353535;
    --text-secondary: #000000;
    --text-tertiary: #1E1E1E;
    --text-error: #DC2626;

    --chart-income-surface: #10B981BF;
    --chart-income-border: #064E3B;
    --chart-expense-surface: #EF4444BF;
    --chart-expense-border: #450A0A;
    --chart-savings-surface: #3B82F6BF;
    --chart-savings-border: #172554;

    --icon-opacity: 100%;

    /* Gradient */
    --gradient-primary-color: linear-gradient(
      to right,
      var(--gradient-primary-first) 10%,
      var(--gradient-primary-second) 100%
    );

    --gradient-secondary-color: linear-gradient(
      315deg,
      var(--gradient-secondary-first) 10%,
      var(--gradient-secondary-second) 100%
    );

    /* Theme colors */
    /* Main */
    --gradient-primary-first: #92FE9D;
    --gradient-primary-second: #00C9FF;

    --gradient-secondary-first: #00000020;
    --gradient-secondary-second: #00000040;

    /* Optional */
    --gradient-neon-first: #92FE9D;
    --gradient-neon-second: #00C9FF;

    --gradient-gold-first: #D97706;
    --gradient-gold-second: #FBBF24;

    --gradient-ocean-first: #1D4ED8;
    --gradient-ocean-second: #3B82F6;

    --gradient-blood-first: #450A0A;
    --gradient-blood-second: #DC2626;

    /* Other */
    --font-primary: 'Archivo', sans-serif;

    /* Height and Width */
    --height-header: 80px;

    --width-aside-small: 75px;
    --width-aside-tablet: 100px;
    --width-aside-laptop: 150px;
    --width-aside-desktop: 250px;

    --button-min-height: 39px;

    --button-container-height: 120px;
  }

  svg {
    color: var(--text-primary);
  }

  .dark-theme {
    /* Dark theme */
    --background: #111219;
    --surface: #323232;
    --surface-response: #5D5D5D;
    --surface-secondary: #1E1E1E;
    --surface-secondary-response: #505050;

    --scrollbar-track: #232532;
    --scrollbar-thumb: #3A3B47;
    --scrollbar-thumb-border: #4A4B57;

    /*--surface: #29292C;*/
    --text-primary: #898989;
    --text-secondary: #000000;
    --text-tertiary: #D1D1D1;

    --icon-opacity: 20%;

    --gradient-secondary-first: #00000020;
    --gradient-secondary-second: #000000;
  }

  
  /* Archivo Regular */
  @font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.woff2') format('woff2'),
         url('../fonts/Archivo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Archivo Medium */
  @font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Medium.woff2') format('woff2'),
         url('../fonts/Archivo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Archivo Bold */
  @font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Bold.woff2') format('woff2'),
         url('../fonts/Archivo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  

  html, body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-primary), serif;
    font-weight: 500;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text-primary);
    /*height: 2000px;*/
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :focus {
    outline: 2px solid var(--gradient-primary-first);
    outline-offset: 2px;
  }

  button {
    cursor: pointer;
  }

  button,
  input,
  select {
    transition: background-color 0.2s ease-in-out;
  }


  /* Основний скроллбар */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Доріжка скроллбара */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 6px;
  }

  /* Повзунок */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 2px solid var(--scrollbar-thumb-border);
  }

}

@layer components {
  .gradient-primary {
    background-image: var(--gradient-primary);
  }

  .gradient-secondary {
    background-image: var(--gradient-secondary);
  }

  .gradient-hover {
    position: relative;
    overflow: hidden;
  }

  .gradient-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--gradient-primary);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: -1;
    border-radius: 8px;
  }

  .gradient-hover:hover::before {
    opacity: 1;
  }


  .active {
    color: var(--text-secondary);
    background-image: var(--gradient-primary);
  }

  .active-icon {
    filter: brightness(0%);
  }

  .theme-and-colors-active {
    position: relative;
  }

  .theme-and-colors-active::after {
    content: '';
    height: 25px;
    width: 25px;
    background-color: currentColor;
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error {
    color: var(--text-error);
  }


  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .first-child-full-width > *:first-child {
    grid-column: 1 / -1;
  }


}

